/*
font-family: 'Josefin Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Josefin Sans', sans-serif;
    --primary-color: #34495E;
    --secondary-color: #E4F1FE;
}

.navbar {
    background-color: var(--primary-color);
    color: white;
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: bold;
}

.navbar .navbar-brand {  
    font-size: 24px;
}


.hero {
    text-align: center;
    background-color: var(--secondary-color);
}

h1 {
    font-family: var(--secondary-font);
    font-size: 96px;
}

.hero h2 {
    font-family: var(--primary-font);
    font-size: 32px;
    padding-top: 150px;
}

.hero h3 {
    font-family: var(--primary-font);
    font-size: 24px;
}

.hero a {
    font-family: var(--primary-font);
    font-size: 24px;
    padding: 10px 30px;
    border-radius: 4px;
    background-color:var(--primary-color);
    color: white;
    text-decoration: none;
}

.hero .get-started-btn {
    padding-bottom: 150px;
}

p {
    font-family: var(--primary-font);
    font-size: 24px;
    opacity: 60%;
    padding-bottom: 25px;
}

.hero img {
    padding: 50px 0px;
    max-width: 400px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    h1 {  
        font-size: 50px;
    }

    .hero h3 {
        padding: 50px 0;
    }
}

